.header {
  display: flex;
  background-color: #232f3e;
  height: 3.75rem;
  position: static;
  align-items: center;
  width: 100%;
  font-size: 14px;
  top: 0;
  color: white;
}

.header__logo {
  height: 3.125rem;
  width: 6.25rem;
  cursor: pointer;
  object-fit: contain;
  margin: 0 1.25rem;
  margin-top: 1.125rem;
}

.header__search {
  align-items: center;
  display: flex;
  height: 3.75rem;
  border-radius: 1.5rem;
  width: 62.5rem;
}

.header__searchInput {
  height: 0.75rem;
  padding: 0.625rem;
  border: none;
  width: 100%;
}

.header__searchIcon {
  height: 1.375rem;
  padding: 0.25rem;
  background-color: #cd9042;
  color: black;
}

.header__nav {
  display: flex;
  margin-left: 0.313rem;
  width: 28.125rem;
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
}

.header__optionOne {
  font-size: 13px;
}

.header__optionTwo {
  font-size: 16px;
  font-weight: 800;
}

.link__style {
  text-decoration: none;
  color: white;
}

.header__cart {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 0.25rem;
}

.header__cartNumber {
  margin: 0 0.625rem;
  margin-right: 0px;
}

.link__style {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .header__option__mobile {
    display: none;
  }
  .header {
    height: 5.75rem;
  }
  .header__cart {
    flex-direction: column;
  }
  .header__cartIcon {
    position: relative;
    left: 0.225rem;
  }

  .header__search {
    align-items: center;
    display: flex;
    height: 5.75rem;
    border-radius: 1.5rem;
    width: 62.5rem;
  }

  .header__searchInput {
    height: 1.5rem;
  }

  .header__searchIcon {
    transform: scale(1.4);
  }
}
